# Azure OpenAI Configuration
AZURE_OPENAI_ENDPOINT=https://your-azure-openai-endpoint.openai.azure.com/

#Deplyment embeddings: 
AZURE_OPENAI_EMBEDDINGS_DEPLOYMENT=text-embedding-ada-002
AZURE_OPENAI_EMBEDDINGS_API_KEY=your-embeddings-api-key
AZURE_OPENAI_API_VERSION=2023-05-15

#Deployment gpt 35
AZURE_OPENAI_CHAT_DEPLOYMENT_NAME=gpt-35-turbo-16k
AZURE_OPENAI_CHAT_API_KEY=your-chat-api-key
AZURE_OPENAI_CHAT_API_VERSION=2024-12-01-preview

# Vector Store Configuration
VECTOR_STORE_DIR=./data/vector_store

# Server Configuration
HOST=0.0.0.0
PORT=8000
DEBUG=true

# CORS Configuration
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8000,https://friendly-pancake-6vqvjxpqxw255w7-8000.app.github.dev,https://*.app.github.dev

# Additional Configuration
CHUNK_SIZE=1000
CHUNK_OVERLAP=100
MAX_TOKENS=1000
MAX_DOCUMENT_SIZE_MB=10
SUPPORTED_DOCUMENT_TYPES=pdf,txt,md,html

#DB Settings
DB_PATH=./data/db
DATABASE_URL=sqlite:///./data/db/testus.db

# Jira Configuration
JIRA_SERVER_URL=https://your-jira-server.com/
JIRA_EMAIL=your-email@example.com
JIRA_PROJECT_NAME_LIST=YOUR_PROJECT
JIRA_API_TOKEN=your-jira-api-token

# Dify Configuration
DIFY_DATASET_API_KEY=your-dify-dataset-api-key
DIFY_BASE_URL=http://localhost/v1

# Dify Jira Connector Configuration
DIFY_JIRA_CONNECTOR_API_KEY=your-dify-jira-connector-api-key
DIFY_JIRA_CONNECTOR_BASE_URL=http://localhost/v1