JIRA_SERVER_URL=your_jira_domain
JIRA_EMAIL=your_jira_mail
JIRA_API_TOKEN=your_jira_api_token
JIRA_PROJECT_NAME_LIST=jira_project_name1,jira_project_name2
DIFY_DATASET_API_KEY=your_dify_dataset_api_key
DIFY_BASE_URL=http://localhost/v1
